<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>
  <ul>
    <% for (let c of categories) { %>
      <li>
        <a href='<%= c.url %>'>
          <%= c.name %>
        </a>
      </li>
      <% } %>
  </ul>
  </p>
</body>

</html>